* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Montserrat', sans-serif;
  background: url("../img/fondo-bosque.jpg") center / cover fixed no-repeat;
  color: #4b3b26;
}

/* ================== */
/* FASE 1: SOBRE */
/* ================== */
#cover {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#envelope {
  width: 260px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#envelope:hover {
  transform: scale(1.05);
}

.tap {
  margin-top: 15px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #d6c28f;
}

/* ================== */
/* FASE 2: HISTORIA */
/* ================== */
#story {
  display: none;
}

/* PÁGINA (SCROLL) */
.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HOJA */
.paper {
  background-image: url("../img/hoja.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;

  width: 90%;
  max-width: 420px;

  padding: 110px 40px 140px;
  min-height: 700px;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  animation: fadeUp 1s ease;
}

/* TEXTO */
h1, h2 {
  font-family: 'Dancing Script', cursive;
  color: #c9b37e;
  margin-bottom: 20px;
}

h1 {
  font-size: 42px;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

/* ANIMACIÓN */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

